body {
 text-align: center;
 background-image: url('images/pizza-slice-seamless-pattern-background-vector-23391360.jpeg');
}
h1, h2 {
  background-color: white;
}
h1 {
  font-family: 'Lobster', cursive;;

}

#form{
  display: flex;
  align-items: center;
  justify-content: center;
}
#survey-form {
  text-align: center;
  background: aliceblue;
  background-size: 150px;
  width: 500px;
  height: 600px;
  border: 2px solid;
  color: black;
  
}
#description {
  background-color: aliceblue;
}